/* JS disabled styles */
.no-js nav li:hover ul {
	display: block;
}

/* base nav styles */
nav {
	display: block;
	margin: 0 auto 0px;
	border: 1px solid #b2b2b2;
	position: relative;
	background-color: #6a6a6a;
	font: 12px Arial, Sans-serif;
	text-transform: uppercase;
	width: 433px;
	z-index: 3;
	left: 270px;
	top: -50px;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	position: relative;
	float: left;
	list-style-type: none;
}

nav ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

nav li a {
	display: block;
	padding: 10px 20px;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	color: #fff;
	text-decoration: none;
}

nav li a:focus {
	outline: none;
	text-decoration: underline;
}

nav li:first-child a {
	border-left: none;
}

nav li.last a {
	border-right: none;
}

nav a span {
	display: block;
	float: right;
	margin-left: 5px;
}

nav ul ul {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	background: #6a6a6a;
}

nav ul ul li {
	float: none;
}

nav ul ul a {
	padding: 5px 10px;
	border-left: none;
	border-right: none;
	font-size: 14px;
}

nav ul ul a:hover {
	background-color: #555;
}

/* CSS3 */
.borderradius nav {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.cssgradients nav {
	background: rgb(150, 150, 150); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(150, 150, 150, 1) 1%,
		rgba(150, 150, 150, 1) 50%, rgba(122, 122, 122, 1) 51%,
		rgba(122, 122, 122, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(150,
		150, 150, 1) ), color-stop(50%, rgba(150, 150, 150, 1) ),
		color-stop(51%, rgba(122, 122, 122, 1) ),
		color-stop(100%, rgba(122, 122, 122, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(150, 150, 150, 1) 1%,
		rgba(150, 150, 150, 1) 50%, rgba(122, 122, 122, 1) 51%,
		rgba(122, 122, 122, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(150, 150, 150, 1) 1%,
		rgba(150, 150, 150, 1) 50%, rgba(122, 122, 122, 1) 51%,
		rgba(122, 122, 122, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(150, 150, 150, 1) 1%,
		rgba(150, 150, 150, 1) 50%, rgba(122, 122, 122, 1) 51%,
		rgba(122, 122, 122, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(150, 150, 150, 1) 1%,
		rgba(150, 150, 150, 1) 50%, rgba(122, 122, 122, 1) 51%,
		rgba(122, 122, 122, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(     startColorstr='#969696',
		endColorstr='#7a7a7a', GradientType=0 ); /* IE6-9 */
}

.boxshadow.rgba nav {
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
}

.cssgradients nav li:hover {
	background-image: -moz-linear-gradient(0% 100px 90deg, #999, #222);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222),
		to(#555) );
}

.borderradius nav ul ul {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.boxshadow.rgba nav ul ul {
	background-color: rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.rgba nav ul ul li {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.rgba nav ul ul a:hover {
	background-color: rgba(85, 85, 85, .9);
}

.borderradius.rgba nav ul ul li.last {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.csstransforms ul a span {
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}

.current {
	color: #FFF;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	background: background:     rgb(76, 76, 76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(19, 19, 19, 1)
		100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(76,
		76, 76, 1) ), color-stop(50%, rgba(44, 44, 44, 1) ),
		color-stop(51%, rgba(0, 0, 0, 1) ),
		color-stop(100%, rgba(19, 19, 19, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(19, 19, 19, 1)
		100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(19, 19, 19, 1)
		100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(19, 19, 19, 1)
		100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%,
		rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(19, 19, 19, 1)
		100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(     startColorstr='#4c4c4c',
		endColorstr='#131313', GradientType=0 );
}

body {
	background-color: #e9eaeb;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #000;
}

.logo-avior {
	width: 300px;
	height: 118px;
	background: url(../image/avior-logo.png) top no-repeat;
	color: transparent;
	z-index: 2;
	margin-top: -10px;
	margin-right: 0px;
	margin-bottom: -10px;
	margin-left: 30px;
}

.content {
	width: 1000px;
	background-image: url(../image/fondo-avior.jpg);
	z-index: 1;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

.container {
	width: 100%;
	position: relative;
	z-index: 100;
	margin: -40px auto;
}

.container-reportes {
	width: 1000px;
	background-image: url(../image/fondo-avior.jpg);
	background-repeat: no-repeat;
	z-index: 1;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

.content {
	width: 1000px;
	background-image: url(../image/fondo-avior.jpg);
	background-repeat: no-repeat;
	z-index: 1;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	color: #00bdf2;
	font-size: 14px;
}

.icono-reporte {
	width: 50px;
	height: 28px;
	background: url(../image/reportes.png) top no-repeat;
	color: transparent;
	z-index: 2;
	margin-top: -70px;
	margin-right: 70px;
	margin-bottom: 10px;
	margin-left: 250px;
}

.titulo-reporte {
	color: #0093bc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	width: 250px;
	margin-left: -5px;
}

.formulario {
	color: #0093bc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

.avior-chico-reportes {
	width: 250px;
	height: 36px;
	background: url(../image/avior-chico.png) top no-repeat;
	color: transparent;
	z-index: 2;
	margin-top: 80px;
	margin-right: 700px;
	margin-bottom: -10px;
	margin-left: -250px;
	float: left;
}

.logo-chico-reportes {
	color: #0CF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 60px;
	width: 250px;
	text-align: center;
}

.avior-chico-rastreo {
	width: 250px;
	height: 36px;
	background: url(../image/avior-chico.png) top no-repeat;
	color: transparent;
	z-index: 2;
	margin-top: -100px;
	margin-right: 700px;
	margin-bottom: -10px;
	margin-left: 120px;
	float: left;
}

.logo-chico-rastreo {
	color: #0CF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 80px;
	width: 250px;
	text-align: center;
	margin-left: 120px;
}
/*mapa*/
.mapa {
	width: auto;
	height: 640px;
	margin: 0 0 0 0;
	border: 1px solid rgb(28, 108, 122);
	margin-bottom: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px
		0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px
		3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px
		rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.button1 {
	text-decoration: none;
	background-image: url(../image/limpiar.png);
	background-color: transparent;
	height: 28px;
	width: 100px;
	border: none;
}

.button1:hover {
	text-decoration: none;
	background-image: url(../image/limpiar-o.png);
}

/*calendario*/
.button22 {
	background-image: url(../image/enviar.png);
	background-color: transparent;
	border: none;
	height: 28px;
	width: 100px;
}

.button22:hover {
	text-decoration: none;
	color: #fff;
	background-image: url(../image/enviar-o.png);
}

.button-mostrar {
	background-image: url(../image/boton-mostrar.png);
	background-color: transparent;
	border: none;
	height: 28px;
	width: 100px;
}

.button-mostrar:hover {
	text-decoration: none;
	color: #fff;
	background-image: url(../image/mostrar-o.png);
}

.input {
	background: #0093bc;
	color: #fff;
	font-size: 11px;
	height: 25px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 1px 2px 3px 2px rgba(128, 128, 128, 0.5);
	box-shadow: 1px 2px 3px 2px rgba(128, 128, 128, 0.5);
	margin-right: 10px;
	margin-left: -15px;
	padding-left: 5px;
}

#c-wrapper {
	overflow: hidden;
	height: 215px;
}

.c-item { /* 	border: 1px solid red; */
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	width: 200px;
	height: 100px;
}

.i-vehiculo {
	background: url(../image/vehiculo.png) top no-repeat;
	color: transparent;
	z-index: 2;
}

.i-estacionamiento {
	background: url(../image/park.png) top no-repeat;
	color: transparent;
	z-index: 2;
}

.t-vehiculo {
	color: #0093bc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	width: 200px;
}

.cont-vehiculos {
	height: 140px;
	overflow: auto;
	text-align: left;
}

.i-mostrar {
	background: url(../image/mostrar.png) top no-repeat;
	color: transparent;
	z-index: 2;
}

.t-mostrar {
	color: #0093bc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	width: 200px;
}

#tabla-intervalo {
	width: auto;
	height: 103px;
	/*  	border: 1px solid blue; */
	padding: 0 0 0 0;
}

#tabla-intervalo td {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.botonUltimo {
	width: 45%;
	cursor: pointer;
	background: #22a9dd;
	padding: 8px 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 12px;
	border: 1px solid rgb(28, 108, 122);
	margin-left: -45px;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px
		0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px
		3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px
		rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.botonUltimo:hover {
	background: #0093bc;
}

.botonUltimo:active,.botonUltimo:focus {
	background: #0093bc;
	position: relative;
	top: 1px;
	border: 1px solid #0093bc;
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

.i-actualizar {
	width: 150px;
	height: 28px;
	background: url(../image/actualizar.png) top no-repeat;
	color: transparent;
	z-index: 2;
}

.t-actualizar {
	color: #0093bc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	width: 200px;
}

.textarea {
	background: #0093bc;
	color: #fff;
	font-size: 11px;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 10px;
	/*width: 280px;
	height: 100px;*/
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 1px 2px 3px 2px rgba(128, 128, 128, 0.5);
	box-shadow: 1px 2px 3px 2px rgba(128, 128, 128, 0.5);
}

.encabezado {
	font-size: 14px;
	background: #0093BC;
	color: white;
	padding: 10px;
}

tr.par {
	background: #CCCCEE;
}

tr.impar {
	background: #EEEEDD;
}

.no-js .content table tr th p a {
	color: #069;
}

.no-js .content table tr th p a {
	color: #0093bc;
}

.no-js .content table tr td p {
	color: #0CF;
	text-align: center;
}

.no-js .content table tr td p a {
	color: #22a9dd;
}

.no-js .content #wrapper #register form .change_link .to_register {
	color: #0093bc;
}

.no-js .content #wrapper #login form p .uname {
	font-weight: bold;
}

.no-js .content #wrapper #login form p .youpasswd {
	font-weight: bold;
}

.toast {
	display: none;
	position: fixed;
	z-index: 99999;
	width: 100%;
	text-align: center;
	bottom: 2em;
}

.toast .message {
	display: inline-block;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #666;
	-webkit-box-shadow: 2px 2px 2px #666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .8em;
	background: #282324;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #554434),
		color-stop(1, #282324) );
}

.desactivo-button{
	background-color:#6E6E6E;
	color:#FFF;
}